.base {
  width: 100vw;
  /* height: 100vh; */
  background-color: aqua;
}

.menu {
  cursor: pointer;
}

/* SIDEBAR */
.sidebar {
  height: 100%;
  width: 0;
  padding: 0;
  border-right: 1px dashed rgb(185, 185, 185);

  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  transition: all 0.5s ease;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.sidebar:global(.active) {
  width: 28rem;
  padding: 2.4rem;
}

.logo img {
  height: 8rem;
  cursor: pointer;
}

.user {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1.8rem;
  border-radius: 12px;
  margin-bottom: 4.8rem;
  background-color: var(--grey-bg);
}

.user img {
  border-radius: 50%;
  height: 4.8rem;
  /* width: 4.8rem; */
}

.user h4 {
  font-weight: 500;
  font-size: 1.4rem;
}

.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sidebar ul li a {
  color: inherit;
  border-radius: 6px;
  padding: 0.75rem 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 1rem;

  transition: all 0.3s;
}

.sidebar ul li a:global(.active) {
  background-color: rgb(221, 237, 251);
}

.sidebar ul li a:hover {
  background-color: rgb(221, 237, 251);
}

.sidebar ul li img {
  height: 2.4rem;
  /* width: 2.4rem; */
}

.logout {
  margin-top: auto;
  align-self: center;
}

/* NAVBAR */
.nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  display: flex;
  padding: 1.8rem;
  /* margin-right: 0; */
  box-shadow: 0 2px 4px 0 rgb(191, 191, 191);
  backdrop-filter: blur(2px);
  transition: all 0.5s ease;
}

.sidebar:global(.active) ~ .nav {
  left: 28rem;
}

.nav input {
  width: 40rem;
  padding: 1rem;
  padding-left: 3.6rem;
  font-size: 1.6rem;
  border: none;
  background-color: rgb(240, 241, 242);
  border-radius: 4px;
  transition: all 0.3s;
  background-image: url("../assets/search.svg");
  background-repeat: no-repeat;
  background-size: 2.4rem;
  background-position-y: center;
  background-position-x: 8px;
}

.nav input:placeholder-shown {
  padding-left: 3.2rem;
}

.nav input:active,
.nav input:focus {
  outline: none;
  background-color: rgb(235, 235, 235);
}

.left {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  gap: 2.4rem;
  align-items: center;
  margin-left: auto;
}

.right div {
  cursor: pointer;
}

.nav img {
  height: 2.4rem;
  width: 2.4rem;
}

.profile img {
  height: 3.6rem;
  width: 3.6rem;
  border-radius: 50%;
}

/* MAIN */
main {
  padding: 2rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 7.6rem;
  transition: all 0.5s ease;
}

.sidebar:global(.active) ~ main {
  left: 28rem;
}
